services:
  # 1. Traffic Cop (SSL & Routing)
  nginx-proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      - app_network

  # 2. Database
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - app_network


  

  # 3. Redis (Message Broker for Celery)
  redis:
    image: redis:7-alpine
    restart: always
    networks:
      - app_network

  # 4. Backend (Django API)
  backend:
    image: ghcr.io/salimmwatsefu/yadi-wallet-backend:latest
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8001 --workers 2
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - 8001
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=False
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - db
      - redis
    restart: always
    networks:
      - app_network

  # 5. Celery Worker (Background Tasks)
  celery_worker:
    image: ghcr.io/salimmwatsefu/yadi-wallet-backend:latest
    command: celery -A config worker -l info
    env_file:
      - .env
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=False
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - backend
      - redis
    restart: always
    networks:
      - app_network

  # 6. Frontend (React/Nginx)
  frontend:
    image: ghcr.io/salimmwatsefu/yadi-wallet-frontend:latest
    expose:
      - 80
    volumes:
      # Access backend files to serve them via Nginx location blocks
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    networks:
      - app_network

volumes:
  postgres_data:
  static_volume:
  media_volume:
  data:
  letsencrypt:

networks:
  app_network:
    driver: bridge